{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<div>
    <div>
        <h2>Login to Your Account</h2>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div>
            <label>No HP</label>
            <input type="text" name="phone" required>
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="password" required>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock content %}
