{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Profile</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<div>
    <div>
        <h2>Your Profile</h2>
    </div>
    <table>
        <tr>
            <td><label>Role</label></td>
            <td><label>{% if user.is_pekerja %}Pekerja{% else %}Pengguna{% endif %}</label></td>
        </tr>
        <tr>
            <td><label>Nama</label></td>
            <td><label>{{ user.username }}</label></td>
        </tr>
        <tr>
            <td><label>Level</label></td>
            <td><label>{{ user.level }}</label></td>
        </tr>
        <tr>
            <td><label>Jenis Kelamin</label></td>
            <td><label>{{ user.gender }}</label></td>
        </tr>
        <tr>
            <td><label>NoHP</label></td>
            <td><label>{{ user.phone }}</label></td>
        </tr>
        <tr>
            <td><label>Tanggal Lahir</label></td>
            <td><label>{{ user.birth_date }}</label></td>
        </tr>
        <tr>
            <td><label>Alamat</label></td>
            <td><label>{{ user.address }}</label></td>
        </tr>
        {% if user.is_pekerja %}
        <tr>
            <td><label>NPWP</label></td>
            <td><label>{{ user.npwp }}</label></td>
        </tr>
        {% endif %}
        <tr>
            <td><label>Saldo Mypay</label></td>
            <td><label>{{ user.balance }}</label></td>
        </tr>
        <tr>
            <td colspan="2"><button type="button" onclick="location.href=''">Update</button></td>
        </tr>
    </table>
</div>

<div class="flex items-center justify-center">
    <div class="flex flex-col items-center bg-white px-6 py-2 gap-2 w-full">
        <h1 class="text-xl font-bold">PROFIL PEKERJA</h1>
        <div class="avatar">
            <!-- Gambar avatar pekerja -->
            <img src="https://via.placeholder.com/100" alt="Avatar">
        </div>
        <div class="w-full">
            <div class="font-semibold" style="min-width: 100px;">Role</div>
            <div class="">{% if user.is_pekerja %}Pekerja{% else %}Pengguna{% endif %}</div>
        </div>
        <div class="w-full">
            <div class="font-semibold" style="min-width: 100px;">Nama</div>
            <div class="">{{ pekerja.username }}</div>
        </div>
        <div class="w-full">
            <div class="font-semibold" style="min-width: 100px;">Rating</div>
            <div class="">{{ pekerja.rating }}</div>
        </div>
        <div class="w-full">
            <div class="font-semibold" style="min-width: 100px;">Jumlah Pesanan Selesai</div>
            <div class="">{{ pekerja.pesanan_selesai }}</div>
        </div>
        <div class="w-full">
            <div class="font-semibold" style="min-width: 100px;">No HP</div>
            <div class="">{{ pekerja.no_hp }}</div>
        </div>
        <div class="w-full">
            <div class="font-semibold" style="min-width: 100px;">Tanggal Lahir</div>
            <div class="">{{ pekerja.tanggal_lahir }}</div>
        </div>
        <div class="w-full">
            <div class="font-semibold" style="min-width: 100px;">Alamat</div>
            <div class="">{{ pekerja.alamat }}</div>
        </div>
    </div>
</div>

{% endblock content %}
