{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Register</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<div>
    <h2>Choose Account Type</h2>
    <form method="POST" action="{% url 'kuning:register_form' %}">
        {% csrf_token %}
        <div>
            <label>
                <input type="radio" name="role" value="pengguna" checked> Pengguna
            </label>
            <label>
                <input type="radio" name="role" value="pekerja"> Pekerja
            </label>
        </div>
        <div>
            <button type="submit">Continue</button>
        </div>
    </form>
</div>
{% endblock content %}
